@import url('https://fonts.googleapis.com/css2?family=Exo&family=Inter&family=Open+Sans&family=Poppins&family=Ubuntu&display=swap');
@import '~antd/dist/antd.css';

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
